{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static "images/favicon.ico" %}">
        <title>Elysia Medium | {% block title %}{% endblock %}</title>
        <link href="{% static "style/foundation.css" %}" rel="stylesheet">
        <link href="{% static "style/www.css" %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Tangerine" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82494651-10"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-82494651-10');
        </script>
    </head>
    <body>
        <header id="headermain">
            <div class="wrap">
                <div class="grid-x headertop">
                    <div class="cell large-3 medium-4">
                        <img src="{% static "images/elysia2_headshot_large.png" %}" alt="Elysia">
                    </div>
                    <div class="cell large-6 medium-6">
                        <img src="{% static "images/AN_logo_EN2.png" %}" alt="Logo">
                    </div>
                    <div class="cell large-3 medium-2">
                        <div id="text-22" class="SocialIcons">
                            <div class="textwidget">
                                <ul>
                                    <li><a href="https://www.facebook.com/" class="facebook" target="_blank"></a></li>
                                    <li><a href="https://www.pinterest.com/" class="pinterest" target="_blank"></a></li>
                                    <li><a href="https://twitter.com/" class="twiter" target="_blank"></a></li>
                                    <li><a href="https://www.instagram.com/" class="insta" target="_blank"></a></li>
                                    <li><a href="https://plus.google.com/" class="googlep" target="_blank"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item home-li{% if request.path == "/" %} active{% endif %}">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item{% if request.path == "/free-angel-consultation" %} active{% endif %}">
                                <a class="nav-link " href="/free-angel-consultation">Free Angel Consultation</a>
                            </li>
                            <li class="nav-item{% if request.path == "/meet" %} active{% endif %}">
                                <a class="nav-link " href="/meet">Who Is Elysia</a>
                            </li>
                            <li class="nav-item{% if request.path == "/testimonials" %} active{% endif %}">
                                <a class="nav-link " href="/testimonials">Testimonials</a>
                            </li>
                            <li class="nav-item{% if request.path == "/messages" %} active{% endif %}">
                                <a class="nav-link " href="/messages">Blog</a>
                            </li>
                            <li class="nav-item{% if request.path == "/shop" %} active{% endif %}">
                                <a class="nav-link " href="/shop">Store</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="pageContent">
            <div class="wrap">
                {% block content %}{% endblock %}
            </div>
        </div>
        <footer id="footermain">
            <div class="wrap">
                <div class="grid-x footeroptions">
                    <div class="cell medium-4 contact">
                        <h3>Contact</h3>
                        <p>Any question? Do you need more information, or want to offer feedback?</p>
                    </div>
                    <div class="cell medium-4 firstreading">
                        <h3>Your First Angel Reading Is Free</h3>
                        <p>"3 hours from now, you could know the name of your guardian Angel and discover the message he has for you!" Elysia</p>
                    </div>
                    <div class="cell medium-4 100secure">
                        <h3>100% Secure Payment <span class="fa fa-lock"></span></h3>
                        <p>SSL encrypted online payment. Guaranteed secure.</p>
                        <p><img alt="icon-pay" src="{% static "images/icon-pay.jpg" %}" class="alignnone size-full wp-image-28" width="280" height="59"></p>
                    </div>
                </div>
                <div class="grid-x privacylegal">
                    <div class="cell">
                        <ul>
                            <li class="firstlink"><a href="/privacy">Privacy Policy</a></li>
                            <li><a href="/terms">Legal Terms</a></li>
                        </ul>
                        <p>www.elysia-medium.com belongs to and is managed by SL Digital</p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>