{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static "images/favicon.ico" %}">
        <title>Elysia Medium | {% block title %}{% endblock %}</title>
        <link href="{% static "style/foundation.css" %}" rel="stylesheet">
        <link href="{% static "style/www.css" %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Tangerine" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="https://js.stripe.com/v3/"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.js"></script>
	    <script>var stripe = Stripe('pk_test_VgRYU7BT15wfdLYBVjAYat90');</script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82494651-10"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-82494651-10');
        </script>
    </head>
    <body class="productBody">
        <header>
            <div class="wrap">
                <div class="grid-x headertop">
                    <div class="cell large-3 medium-4">
                        <img class="salesElysia" src="{% static "images/elysia2_headshot_large.png" %}" alt="Elysia">
                    </div>
                    <div class="cell large-6 medium-6">
                        <img class="salesLogo" src="{% static "images/AN_logo_EN2.png" %}" alt="Logo">
                    </div>
                </div>
            </div>
        </header>
        <div class="pageContent productPage">
            <div class="wrap">
                <div class="grid-x">
                    <div class="cell large-9">
                        <div class="sales-content">
                            <span style="text-align: center">Prepared Especially For:</span>
                            <span style="text-align: center">{{ account.first_name }}</span>
                            <span>&nbsp;</span>
                            <span style="color: #e0a850; text-align: center">PRIORITY AGREEMENT FOR</span>
                            <h1 class="checkout-title">Great 12-Month Angelic Tarot Reading</h1>
                            <span>For 12 months of Happiness, Joy, Love, Money, and Success</span>
                            <span>Thank you ELYSIA for your intervention among the Angels in my life!</span>
                            <span>Because you were right: the celestial help of the angels is the only thing that can get me out of the tough situation I am going through. So let me tell you:</span>
                            <span>&nbsp;</span>
                            <ul class="checkbox-list">
                                <li><strong>YES ELYSIA</strong>, as soon as you receive this priority agreement, please perform my <strong>GREAT 12-MONTH ANGELIC TAROT READING</strong> using your angelic Tarot deck. I understand that you will draw 12 cards on my behalf, inspired by the Angels. These 12 cards will unveil my future destiny defined by the angels to compensate all the trials I had to endure in my life.</li>
                            </ul>
                            <ul class="checkbox-list">
                                <li><strong>ELYSIA</strong>, I need help from the Angels to make my projects and secret wishes come true in every aspect of my life (money, love, luck, success).</li>
                            </ul>
                            <ul class="checkbox-list">
                                <li><strong>ELYSIA</strong>, I know that Angels always speak the truth, so I am really eager to receive their revelations. I am delighted to confirm my agreement once again for you to perform my <strong>GREAT 12-MONTH ANGELIC TAROT READING</strong>.</li>
                            </ul>
                            <ul class="checkbox-list">
                                <li><strong>ELYSIA</strong>, I understand that my <strong>GREAT 12-MONTH ANGELIC TAROT READING</strong> reading is sent using email and will be delivered once prepared by Elysia (Usally within 24hours).</li>
                            </ul>
                            <ul class="checkbox-list">
                                <li><strong>ELYSIA</strong>, for everything you will perform on my behalf, I willingly send you the token amount of ${{ price }} instead of $129.</li>
                            </ul>
                            <span>Simple and crystal clear! As usual for my services, this Help entitles you to my 100% Satisfaction Guarantee.</span>
                            <span class="sales-signature">Elysia</span>
                            <div class="payment-heading">
                                <h3>Secure Payment</h3>
                            </div>
                            <form action="/process-test?cid={{ cid }}&uid={{ account.id }}" method="post" id="payment-form">
                                <h2 style="margin-top: 20px;">Customer Information</h2>
                                <div class="group">
                                    <div>
                                        <label for="name">Name</label>
                                        <input id="name" name="cust_name" class="field" placeholder="Name" type="text" value="{{ account.first_name }}" />
                                    </div>
                                    <div>
                                        <input id="first-name" name="cust_first_name" class="field" placeholder="First Name" type="hidden" />
                                    </div>
                                    <div>
                                        <input id="last-name" name="cust_last_name" class="field" placeholder="Last Name" type="hidden" />
                                    </div>
                                    <div>
                                        <label for="email-address">Email Address</label>
                                        <input id="email-address" name="cust_email_address" class="field" placeholder="Email Address" type="email" value="{{ account.email }}" />
                                    </div>
                                </div>
                                <h2>Payment</h2>
                                <h3>One time payment</h3>
                                <a class="payment-button otp-button"><img src="/static/images/visa.png"></a>
                                <a class="payment-button otp-button"><img src="/static/images/mastercard.png"></a>
                                <a class="payment-button otp-button"><img src="/static/images/amex.png"></a>
                                <h3>Pay in 3 installments (no fees)</h3>
                                <a class="payment-button ip-button"><img src="/static/images/visa.png"></a>
                                <a class="payment-button ip-button"><img src="/static/images/mastercard.png"></a>
                                <a class="payment-button ip-button"><img src="/static/images/amex.png"></a>
                                <div id="checkoutForm" style="display: none">
                                    <div class="group">
                                        <span id="card-errors"></span>
                                        <div>
                                            <label for="card-number">Card Number</label>
                                            <div id="card-number-element" class="field" style="padding: 15px 12px;"></div>
                                        </div>
                                        <div class="halfInput" style="margin-right: 15px;">
                                            <label for="card-expiry">MM / YY</label>
                                            <div id="card-expiry-element" class="field" style="padding: 15px 12px;"></div>
                                        </div>
                                        <div class="halfInput">
                                            <label for="card-cvv">CVV</label>
                                            <div id="card-cvc-element" class="field" style="padding: 15px 12px;"></div>
                                        </div>
                                    </div>
                                    <h2 id="orderTotal">$39.00 today</h2>
                                    <input type="hidden" id="method" name="method" value="total">
                                    <input type="hidden" id="price" name="price" value="{{ price }}">
                                    {% csrf_token %}
                                    <button type="submit">YES, SEND MINE TODAY!</button>
                                </div>
                            </form>
                            <script>
                                var elements = stripe.elements();

                                var style = {
                                    base: {
                                        iconColor: '#666EE8',
                                        fontSize: '17px',
                                        fontFamily: 'Helvetica Neue',
                                        color: '#43454b',
                                    },
                                };

                                var cardNumberElement = elements.create('cardNumber', {
                                    style: style,
                                    placeholder: "Card Numbers"
                                });
                                cardNumberElement.mount('#card-number-element');

                                var cardExpiryElement = elements.create('cardExpiry', {
                                    style: style,
                                    placeholder: "Expiry Date"
                                });
                                cardExpiryElement.mount('#card-expiry-element');

                                var cardCvcElement = elements.create('cardCvc', {
                                    style: style
                                });
                                cardCvcElement.mount('#card-cvc-element');

                                var form = $("#payment-form");

                                $.validator.methods.email = function( value, element ) {
                                    return this.optional( element ) || /[a-zA-Z0-9_.-]+@[a-zA-Z0-9_.-]+\.[a-zA-Z0-9_.-]+/.test( value );
                                };

                                $.validator.addMethod("fullname", function(value,element){
                                    return this.optional( element ) || /[a-zA-Z]+ [a-zA-Z]/.test( value );
                                }, "Please enter full name" );

                                form.validate({
                                    rules: {
                                        name: {
                                            required: true,
                                            fullname: true
                                        },
                                        email_address: {
                                            required: true,
                                            email: true
                                        },
                                        address_country: {
                                            required: true
                                        },
                                        address_line1: {
                                            required: true
                                        },
                                        address_city: {
                                            required: true
                                        },
                                        address_state: {
                                            required: true
                                        },
                                        address_zip: {
                                            required: true
                                        }
                                    }
                                });

                                form.submit(function(event) {
                                    event.preventDefault();
                                    if (form.valid()) {
                                        $('#payment-form button').prop('disabled', true);
                                        stripe.createToken(cardNumberElement).then(function(result) {
                                            if (result.error) {
                                                var errorElement = document.getElementById('card-errors');
                                                errorElement.textContent = result.error.message;
                                                $('#payment-form button').prop('disabled', false);
                                            } else {
                                                stripeTokenHandler(result.token);
                                            }
                                        });
                                    }
                                });

                                function stripeTokenHandler(token) {
                                    var names = $("#name").val().split(" ");
                                    $("#first-name").val(names[0]);
                                    $("#last-name").val(names[1]);
                                    var form = document.getElementById('payment-form');
                                    var hiddenInput = document.createElement('input');
                                    hiddenInput.setAttribute('type', 'hidden');
                                    hiddenInput.setAttribute('name', 'stripeToken');
                                    hiddenInput.setAttribute('value', token.id);
                                    form.appendChild(hiddenInput);
                                    form.submit();
                                }

                                $(".otp-button").click(function() {
                                    $("#orderTotal").text("$39.00 today");
                                    $("#method").val("total");
                                    $(".payment-button-active").removeClass("payment-button-active");
                                    $(this).addClass("payment-button-active");
                                    $("#checkoutForm").show();
                                });

                                $(".ip-button").click(function() {
                                    window.location.href = "/product/installments_test?cid={{ cid }}&uid={{ account.id }}&ds={{ ds }}";
                                });
                            </script>
                        </div>
                    </div>
                    <div class="cell large-3">
                        <div class="sales-content">
                            <h5>100% Secure</h5>
                            <span>You benefit from my satisfaction guarantee. Should the Help received not bring you total satisfaction, you could ask for it to be refunded; this is my commitment to you, which is clearly indicated in my legal terms.</span>
                            <span>Any questions can be answered at support@elysia-medium.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footermain">
            <div class="wrap">
                <div class="grid-x privacylegal">
                    <div class="cell">
                        <ul>
                            <li class="firstlink"><a href="/privacy">Privacy Policy</a></li>
                            <li><a href="/terms">Legal Terms</a></li>
                        </ul>
                        <p>www.elysia-medium.com belongs to and is managed by SL Digital</p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
