<!--{% extends "base.html" %}
{% load static %}
{% block title %}Free Angel Consultation{% endblock %}
{% block content %}-->
    <div class="grid-x maingrid-x pageheader">
        <div class="cell">
            <h2 class="text-center">Receiving my Guardian Angel's First Message <br>for Free</h2>
            <h3 class="text-center">+ As GIFTS: Secret Summoning Prayer for my Angel &amp; My FREE Monthly horoscope</h3>
        </div>
    </div>
    <div class="grid-x formsection">
        <div class="cell medium-8">
            <div class="grid-x messagesection">
                <div class="cell">
                    <p>Elysia, I want to know <strong>who my Guardian Angel is.....</strong></p>
                    <p>Please send me my <strong>Free Reading</strong> including <strong>the message my Angel wants to share with me + my 2 gifts:</strong> </p>
                    <ul>
                        <li>My <strong>Secret Summoning Prayer</strong></li>
                        <li>My monthly <strong>Angel Horoscope</strong> (starting next month)</li>
                    </ul>
                </div>
            </div>
            <div class="grid-x form">
                <div class="cell">
                    <h3>Contact Details</h3>
                    <form>
                        <div class="grid-x formcontent">
                            <div class="cell medium-6">
                                <select class="">
                                    <option>Gender</option>
                                </select>
                            </div>
                            <div class="cell medium-6">
                                <input class="form-control form-control-lg" type="text" placeholder="Firstname">
                            </div>
                        </div>
                        <div class="grid-x formcontent">
                            <div class="cell medium-6">
                                <input class="form-control form-control-lg" type="email" placeholder="Email">
                            </div>
                            <div class="cell medium-6">
                                <select class="">
                                    <option>Country</option>
                                </select>
                            </div>
                        </div>
                        <h4>Birth Date</h4>
                        <div class="grid-x formcontent">
                            <div class="cell medium-4">
                                <select class="">
                                    <option>Day</option>
                                </select>
                            </div>
                            <div class="cell medium-4">
                                <select class="">
                                    <option>Month</option>
                                </select>
                            </div>
                            <div class="cell medium-4">
                                <select class="">
                                    <option>Year</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">I've read and accepted the <a href="">General terms of use</a> and <a href="">Privacy Policy</a></label>
                        </div>
                        <div class="grid-x buttongrid-x">
                            <div class="cell text-center">
                                <button type="submit" class="btn btn-primary mb-2">Ask For Your Free Reading</button>
                            </div>
                        </div>
                        <div class="grid-x getupdates">
                            <div class="cell">
                                <h5 class="text-center">Once subscribed, you will receive news and updates from Elysia</h5>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="grid-x faq freecon">
                <div class="cell">
                    <h3>Free Angel Consultation</h3>
                    <p>Angels are spiritual characters who are always with us through our thick and thin. They help, guide, and assist us in every phase of life; regardless of who we are or where we belong. <strong>Angel card reading</strong>, like tarot cards, can help you gain an insight into the depths of your life. You can get you answers to questions that normal people can't answer. Find out more...</p>

                    <h3>What is a free Angel card reading?</h3>
                    <p>It is a pathway for you to get help from the angels regarding life matters. For example, you can find out whether a job you are planning to apply for is worth trying or not. It is a means for you to tap into the guidance of angels through <strong>free angel card reading</strong>. You can learn about who you Guardian Angel is and can also get information on your Angel Horoscope. </p>
                    <p>These readings are a great source of receiving light from the Angels who are always available at your service. Prayers are also a great means to get help from the Angels. However, you need to know what sort of prayer you need to make. Thus, the Secret Summoning Prayer is what you should be looking for. The help of a <strong>Free Angel Card Reading</strong> can access this prayer.</p>

                    <h3>Let the Angels Show You the Right Path</h3>
                    <p>When the Angels come to help, guide, or assist you, you know for sure that whatever guidance you are going to receive will be beneficial for you. The guidance you get from Angels is the purest and the most factual out of all. An <strong>Angels Message</strong> can never bring harm to you or people around you. Thus, before making a prayer, you need to have good intentions and believe in the Angels. </p>
                    <p>If you do not believe in the powers of the Angels, then although your prayer will be heard, it will not be accepted. </p>
                    <p>You need to believe that the outcome of the <strong>angel messenger cards</strong> will be what is beneficial for you. For the time being, it might seem that it is not what you expected but, in the long run, it will prove to be the right, and the best, step to take.</p>

                    <div class="thankyou">
                        <h4>Elysia</h4>
                        <p>Your friend watching over your Happiness</p>
                    </div>

                </div>
            </div>
            <div class="grid-x confidential">
                <div class="cell">
                    <h5><img src="/static/images/circled_tick.png" alt=""> 100% Free and Confidential</h5>
                </div>
            </div>
            <!-- end 8 -->
        </div>
        <div class="cell medium-4">
            <div class="testimonialwrap">
                <h3>Testimonials</h3>
                <div class="testimonialbox">
                    <h4>« These orisons have enlightened my life! »</h4>
                    <h5>Evelyne  - Oklahoma City</h5>
                </div><div class="testimonialbox">
                <h4>« It gave me back hope »</h4>
                <h5> Barbara -  Chicago</h5>
            </div><div class="testimonialbox">
                <h4>« I have found my soul mate »</h4>
                <h5>Meg - Los Angeles</h5>
            </div><div class="testimonialbox">
                <h4>« My destiny has changed overnight »</h4>
                <h5>Charles - Toronto</h5>
            </div><div class="testimonialbox">
                <h4>« You are the messenger of the angels »</h4>
                <h5>Tracy - New York</h5>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
