{% extends "base.html" %}
{% load static %}
{% block title %}Free Angel Consultation{% endblock %}
{% block content %}
    <div class="grid-x mainrow pageheader">
        <div class="col">
            <h2 class="text-center">Spiritual Store</h2>
            <h3 class="text-center">To guide your spiritual awakening</h3>
            <p><strong>Spirituality,</strong> plenitude, <strong>Serenity,</strong> welcome to the world of the<strong>Angels.</strong> To guide you on this thrilling and sometimes perilous journey, I have sown a few secrets here, in my <strong>online occult store...</strong> A precious help to reach <strong>spiritual wellness.</strong></p>
        </div>
    </div>
    <div class="grid-x storerow">
        <div class="cell medium-4 storecolumn">
            <div class="storecolumwrap">
                <div class="imagewrap">
                    <a href="?sid=1"><img src="/static/images/AN_9_oraison_of_love.jpg" title="The 9 Orisons of Love of the Angels" alt="The 9 Orisons of Love of the Angels"></a>
                </div>
                <h3><a href="?sid=1">The 9 Orisons of Love of the Angels</a></h3>
                <div class="rating">
                    <img src="/static/images/rating5.png">
                </div>
                <div class="description">When disappointment keeps piling up in love, you feel as if you were not "made for" Love. And this is absolutely wrong. Everyone is entitled to True Love. The first step to a better [...]</div>
                <div class="pricerow text-center">
                    <span class="price">29.00</span><span class="saleprice">19.00</span>
                </div>
                <div class="shopbutton text-center">
                    <button class="btn-big icon-cart" onclick="" tabindex="0">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
        <div class="cell medium-4 storecolumn">
            <div class="storecolumwrap">
                <div class="imagewrap">
                    <a href="?sid=4"><img src="/static/images/AN_sacred_music_angels.jpg" title="Sacred Music of the Angels" alt="Sacred Music of the Angels"></a>
                </div>
                <h3><a href="?sid=4">Sacred Music of the Angels</a></h3>
                <div class="rating">
                    <img src="/static/images/rating5.png">
                </div>
                <div class="description">
                    Inspired by celestial beauty and purity, this melody brings a feeling of
                    plenitude and wellness that will facilitate your contact with the world of the Angels. To compose this [...]
                </div>
                <div class="pricerow text-center">
                    <span class="price">29.00</span><span class="saleprice">19.00</span>
                </div>
                <div class="shopbutton text-center">
                    <button class="btn-big icon-cart" onclick="" tabindex="0">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
        <div class="cell medium-4 storecolumn">
            <div class="storecolumwrap">
                <div class="imagewrap">
                    <a href="?sid=5"><img src="/static/images/AN_salt_angelic_magic.jpg" title="Salt and Angelic Magic" alt="Salt and Angelic Magic"></a>
                </div>
                <h3><a href="?sid=5">Salt and Angelic Magic</a></h3>
                <div class="rating">
                    <img src="/static/images/rating4.png">
                </div>
                <div class="description">

                    Have you ever tested the magic … of Salt?
                    Salt, veritable symbol of life, holds a major place in the history of
                    mankind. Today, of course, it is used to enhance our meals or to[...]
                </div>
                <div class="pricerow text-center">
                    <span class="price">29.00</span><span class="saleprice">19.00</span>
                </div>
                <div class="shopbutton text-center">
                    <button class="btn-big icon-cart" onclick="" tabindex="0">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-x storerow">
        <div class="cell medium-4 storecolumn">
            <div class="storecolumwrap">
                <div class="imagewrap">
                    <a href="?sid=6"><img src="/static/images/AN_develop_clairvoyance_cover.jpg" title="Develop your Clairvoyance" alt="Develop your Clairvoyance"></a>
                </div>
                <h3><a href="?sid=6">Develop your Clairvoyance</a></h3>
                <div class="rating">
                    <img src="/static/images/rating5.png">
                </div>
                <div class="description">

                    Unfortunately, we are not angels. Unlike these celestial beings, 90%
                    of our psychic resources are yet untapped! And yet, have you ever
                    thought, after making a decision, things [...]
                </div>
                <div class="pricerow text-center">
                    <span class="price">29.00</span><span class="saleprice">19.00</span>
                </div>
                <div class="shopbutton text-center">
                    <button class="btn-big icon-cart" onclick="" tabindex="0">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
        <div class="cell medium-4 storecolumn">
            <div class="storecolumwrap">
                <div class="imagewrap">
                    <a href="?sid=7"><img src="/static/images/AN_balance_chakras_cover.jpg" title="Balance your Chakras" alt="Balance your Chakras"></a>
                </div>
                <h3><a href="?sid=7">Balance your Chakras</a></h3>
                <div class="rating">
                    <img src="/static/images/rating4.png">
                </div>
                <div class="description">

                    Each one of us possesses 7 connections to the World of the Angels:
                    our 7 chakras. Healthy chakras are extremely important to a person’s
                    well-being. These points of Angelic [...]
                </div>
                <div class="pricerow text-center">
                    <span class="price">49.00</span><span class="saleprice">39.00</span>
                </div>
                <div class="shopbutton text-center">
                    <button class="btn-big icon-cart" onclick="" tabindex="0">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
        <div class="cell medium-4 storecolumn">
            <div class="storecolumwrap">
                <div class="imagewrap">
                    <a href="?sid=8"><img src="/static/images/AN_attract_abundance_cover.jpg" title="Attract Abundance" alt="Attract Abundance"></a>
                </div>
                <h3><a href="?sid=8">Attract Abundance</a></h3>
                <div class="rating">
                    <img src="/static/images/rating5.png">
                </div>
                <div class="description">

                    Angels for money exist. Prayers for money exist. However, in
                    addition to all the angelic help dedicated to abundance that I can offer
                    you elsewhere, what would you say to having a[...]
                </div>
                <div class="pricerow text-center">
                    <span class="price">39.00</span><span class="saleprice">29.00</span>
                </div>
                <div class="shopbutton text-center">
                    <button class="btn-big icon-cart" onclick="" tabindex="0">
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}