{% extends "base.html" %}
{% load static %}
{% block title %}Thank You{% endblock %}
{% block content %}
    <div class="grid-x maingrid-x pageheader">
        <div class="col">
            <h2 class="text-center">Thank you</h2>
        </div>
    </div>
    <div class="sales-content">
        <span>Thank you - you have just placed an order with Elysia for your GREAT 12-MONTH ANGELIC TAROT READING.</span>
        <span>You will receive your study at the email address you have entered as soon as it is ready (Usually within 24 hours)</span>
        <span>If you have any questions, please send them to: <a href="mailto:support@elysia-medium.com">support@elysia-medium.com</a></span>
{#        <span>As a reminder, your bank statment will show a charge by Clickbank or CLKBANK*COM.</span>#}
{#        <span> ClickBank is the retailer of products on this site. CLICKBANK® is a registered trademark of Click Sales, Inc., a Delaware corporation located at 1444 S. Entertainment Ave., Suite 4$</span>#}
    </div>
    <img src="https://vaction-pharepper.com/postback?cid={{ cid }}&et=psysale" width="1" height="1" style="position: absolute; top: -9999px; left: -9999px;">
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1033777916753166');
        fbq('track', 'Purchase');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=1033777916753166&ev=Purchase&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
{% endblock %}