{% extends "product_pages/base-product.html" %}
{% load static %}
{% block title %}Your Free Angel Consultation{% endblock %}
{% block content %}
    <div class="grid-x">
        <div class="cell large-9">
            <div class="sales-content">
                <span style="text-align: center">Prepared Especially For:</span>
                <span style="text-align: center">{{ account.first_name }} {{ account.last_name }}</span>
                <span>&nbsp;</span>
                <span style="color: #e0a850; text-align: center">PRIORITY AGREEMENT FOR</span>
                <h1 class="checkout-title">GREAT 12-MONTH ANGELIC TAROT READING</h1>
				For 12 months of Happiness, Joy, Love, Money, and Success</span></p>
				</span>
				<p>Thank you ELYSIA for your intervention among the Angels in my life!</p>
				<p>Because you were right: the celestial help of the angels is the only thing that can get me out of the tough situation I am going through. So let me tell you:</p>
				<p>&nbsp;</p>
				<ul class="checkbox-list">
				<li><strong>YES ELYSIA</strong>, as soon as you receive this priority agreement, please perform my <strong>GREAT 12-MONTH ANGELIC TAROT READING</strong> using your angelic Tarot deck.I understand that you will draw 12 cards on my behalf, inspired by the Angels. These 12 cards will unveil my future destiny defined by the angels to compensate all the trials I had to endure in my life.</li>
				</ul>
				<ul class="checkbox-list">
				<li><strong>ELYSIA</strong>, I need help from the Angels to make my projects and secret wishes come true in every aspect of my life (money, love, luck, success).</li>
				</ul>
				<ul class="checkbox-list">
				<li><strong>ELYSIA</strong>, I know that Angels always speak the truth, so I am really eager to receive their revelations. I am delighted to confirm my agreement once again for you to perform my <strong>GREAT 12-MONTH ANGELIC TAROT READING</strong>.</li>
				</ul>
				<ul class="checkbox-list">
				<li><strong>ELYSIA</strong>, I understand that my <strong>GREAT 12-MONTH ANGELIC TAROT READING</strong> reading is sent using email and will be delivered once prepared by Elysia (Usally within 24hours).
				</ul>
				<ul class="checkbox-list">
				<li><strong>ELYSIA</strong>, for everything you will perform on my behalf, I willingly send you the token amount of $69 instead of $129.
				</ul>
                <span>Simple and crystal clear! As usual for my services, this Help entitles you to my 100% Satisfaction Guarantee.</span>
                <span class="sales-signature">Elysia</span>
                <div class="payment-heading">
                    <h3>Choose Your Payment</h3>
                </div>
                <span>One time payment - $69</span>
                <a class="payment-button"  href="https://tid85.pay.clickbank.net/?cbitems=1"><img src="file:///C:/Users/shaun.tidy/Desktop/visa.png" </a> 
                <a class="payment-button" href="https://tid85.pay.clickbank.net/?cbitems=1"><img src="/static/images/master.png"></a>
				<p>ClickBank is the retailer of products on this site. CLICKBANK® is a registered trademark of Click Sales, Inc., a Delaware corporation located at 1444 S. Entertainment Ave., Suite 410 Boise, ID 83709, USA and used by permission. ClickBank's role as retailer does not constitute an endorsement, approval or review of these products or any claim, statement or opinion used in promotion of these products.</p>
            </div>
        </div>
        <div class="cell large-3">
            <div class="sales-content">
                <h5>100% Secure</h5>
                <span>You benefit from my satisfaction guarantee. Should the Help received not bring you total satisfaction, you could ask for it to be refunded; this is my commitment to you, which is clearly indicated in my legal terms.</span>
				<span>Any questions can be answered at support@elysia-medium.com</span>
            </div>
        </div>
    </div>
{% endblock %}