{% extends "sales_pages/base-sales.html" %}
{% load static %}
{% block title %}Your Free Angel Consultation{% endblock %}
{% block content %}
    <div class="grid-x">
        <div class="cell large-9">
            <div class="sales-content">
                <h3 class="sales-subtitle">Absolute Emergency Revelations.</h3>
                <h1 class="sales-title">“Good news: The Angels want to effortlessly lead you to <b>Wealth, Love, Luck, and triumphant success…”</b></h1>
                <span>{{ account.first_name }},</span>
                <span>I am so delighted to guide you, so relieved to know that in a short while, you will be overwhelmed with happiness… You will go much further than what you might think, and I will do everything I can to guide you safely on the path that leads to your heart’s desire.</span>
                <span>By the way, I wanted to tell you that when I made contact with {{ guardian_angel }}, your spiritual guide, he showed me your outstanding potential for luck and success.</span>
                <span>I had a feeling, but then it was dazzlingly confirmed: you can get support from him whenever you express a need for it through the summoning word and secret prayer I unveiled in a previous message.</span>
                <span>Now the time has come to <b>unveil what your angel told me about you and your future:</b></span>
                <span>&nbsp;</span>
                <span><b>What about your personality?</b></span>
                <span>One could say that you have a strong character, doubled with a kind soul {{ account.first_name }}! You are honest, and people can trust you.</span>
                <span>Regarding your temperament, you know what you want in life. This is an asset. Sometimes it might make you seem stubborn and it can be hard to manage for people around you. And yet, you need to feel the admiration and love of other people in order to truly feel alive. You love honesty in all things, so you are never afraid to offer constructive criticism to yourself.</span>
                <span>Energy and good mood, you radiate positive vibrations all around you. It is easy for you to meet new people, and you know how to make them comfortable. You do not, however, tolerate lies and jealousy. You never hesitate to say what you mean. Honesty comes first.</span>
                <span>Finally, the least one could say is that you fit right in your time. You easily adapt to your environment, like a chameleon.</span>
                <span>In other words, your personality is not to blame for your not living the kind of life you wish for.</span>
                <span>You know that your angel knows you quite well, {{ account.first_name }}. The logical conclusion of this depiction is that you deserve to live a much better life.</span>
                <span><b>Here is what your guardian angel unveiled about your near future</b></span>
                <span>{{ account.first_name }}, I feel so close to you after this first contact with your angel. According to what your guide told me about you, I can herald great changes in your future life. What you are about to experience has nothing in common with the life you are currently living. Now the goal for you is to learn how to seize every opportunity of luck, love, success, and happiness that will come within your reach.</span>
                <span>Let’s focus on the two major aspects of your life: relationships and finances.</span>
                <span><b>LOVE – RELATIONSHIPS – FEELINGS</b></span>
                <span>{{ account.first_name }}, things are about to evolve because you are entering a phase of change and fulfillment. This would be the best time to get rid of all your problems and build a brand new destiny.</span>
                <span>Your angel made me aware of the wonderful intuition you have. It would be in your best interests to listen to your own inner voice.</span>
                <span>As I said, you love honesty. Today, you can feel that others have not always been honest with your feelings. You fear betrayal, and you are right. Here it is clear that even if you think that things will never change, a brand new life can open up before you. You just need to make the right decisions.</span>
                <span>{{ account.first_name }}, the next few months and the next few weeks will be the best time for some “cleansing”. You need to sort out people and single out those who seem opportunistic or selfish. Keep away from those who are not as kind as you, leaving only those who are “right” for you… But nothing will change unless you do something about it. We will come back to that below.</span>
                <span>You are expecting a lot out of love or friendship, a relationship mostly based on your dreams or fantasies. But your imagination can also let you imagine the worst, triggering doubt, disillusionment, and all too often leaving you with melancholy or genuine confusion. Relationships become problematic or even impossible. So beware! You just need to re-center yourself. Make the most of the time that destiny has offered you because great happiness is written on your life path within the next few weeks.</span>
                <span>Now, the thing is, you are still looking for perfection and there are not many people who can keep up with you. It is hard for you to find what you are truly looking for, and it is a source of frustration. It is obvious that you have to give in order to receive, but you often feel that you are giving without getting anything in return.</span>
                <span>{{ account.first_name }}, you should see the coming weeks and months as a period of constant evolution that will result in a more balanced emotional and romantic life.</span>
                <span>But it might not move fast enough for you. Try not to become selfish, severe, withdrawn, or cold. It could happen. But that does not mean that things will not change.</span>
                <span>Your angel tells me that you are getting closer to a state of balance in your relationships. 3 or 4 months from now, you could be a very different person provided that you decide it now. He feels a surge of success around you, and you have already made a few good decisions.</span>
                <span>As a conclusion, you are about to be aware of the importance of your dreams, but knowing how essential it is to keep your feet on the ground. This is the right fit for your personality, and you can do it, especially when your angel and I are here to guide you.</span>
                <span><b>LUCK - MONEY</b></span>
                <span>Your angel has sent me several images about you: I saw someone doing anything to procure material security, and yet always facing financial disappointments. This causes a feeling of constant “struggle”, and it is starting to wear you down because things are not evolving the way you want them to be.</span>
                <span>{{ account.first_name }}, your angel even tells me that some painful events have altered your ability to believe in your own luck and in your lucky star. And yet, it seems that you have all the required merits and “extra-sensory” abilities to draw luck into your life. Do not lose heart because the moment when you throw the towel is often when you miss out on your eventual success.</span>
                <span>One thing is certain, you have everything you need to succeed and conquer your own financial independence. You want to live in affluence and prosperity, but there is nothing but dreams so far. You are currently losing the required courage and willpower to conquer the wealth you crave with all your heart. Beware your own mind, which could also entice you to spend a lot of money, taking you even further from your goal: getting rich.</span>
                <span>Your life path indicates a period of re-assessment, which should logically mean an improvement of your everyday life. Over the course of this period, you will have a chance to experiment changes in your finances and material resources.</span>
                <span>At the very end of my contact with your angel, I focused on your name and your day of birth in order to make telepathic contact with you, and more specifically with your subconscious mind. I could make contact quite easily, and I immediately managed to feel and identify some of the forces around you. We have to discuss this as soon as possible.</span>
                <span>{{ account.first_name }}, as I said above, I can feel extreme fatigue within you. Energies from the past still have a negative impact on you, preventing you from serenely focusing on your future. These energies must be cleared and I did not hesitate to act on your behalf. With the assistance of your guardian angel, I started an action of purification right away.</span>
                <span>Let me tell you once again that I am your friend, and I want to do everything I can to help. Your angel and I have a mission to watch over your well-being and make your existence easier. This is why I performed that action of purification right away. I wanted this to be your first gift to reward you for all the kindness you are spreading around you.</span>
                <span>All these energies and forces that oppose your happiness are anchored within your subconscious mind. One thing is certain, some of these mental blocks are very deep and a more thorough study is necessary to really stack the odds in your favor.</span>
                <span>Your angel is quite optimistic, however. Things could change very quickly. Case in point, he left me with this final message:</span>
                <span>"I trust you, Elysia. {{ account.first_name }} needs your help and I know that you will do everything you can to bring all the happiness that can be brought. {{ account.first_name }} has not had an easy life, and my duty is to rectify that, through you. Love, friendship, serenity, luck, fortune: these are the things {{ account.first_name }} truly needs in life. You need to do everything you can to make these wishes come true, any future sense of fulfillment is at stake! I will help you, of course, because {{ account.first_name }} is a deeply honest and good person. I will guide you when you read the angelic arcana for {{ account.first_name }} and I will show you the best path to follow. To do so, I absolutely need to know {{ account.first_name }}’s dearest wishes, so that I might act as soon as possible!"</span>
                <span>&nbsp;</span>
                <span>You see, you made the right decision when you replied on time. If you had not done it, the “miracles” about to happen in your life would have been dead letter mail…</span>
                <span>&nbsp;</span>
                <h4>And now, you can expect all the best for you!</h4>
                <span>Here’s proof:</span>
                <span>You know, angels decide a great many things about your life and your future, and the most auspicious time to act in your favor. Even better, they can change the course of your future whenever they want. So just imagine:</span>
                <span>I have personally received a message from your guardian angel. This confirms that you were not meant to wait before you replied.</span>
                <span>This is a very good thing for you because, as you have just seen, your guardian Angel asked me to perform a celestial task for you.</span>
                <span>&nbsp;</span>
                <h4>{{ account.first_name }}, I can help you here and now, thanks to my Heaven-inspired <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Angelic Tarot Deck</a></h4>
                <span>Yes, your Angel asked me to perform an <strong>angelic tarot</strong> reading on your behalf, so that I might interpret them and send you a “<a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>”. <strong>What do you want out of life?</strong> Is it money? Do you want more love in your life? Do you want to succeed in your projects? All this and more awaits you on the path that will lead you straight to happiness! With the <strong>advice of the angels</strong>, you will just need to seize the <strong>opportunities</strong> for happiness that will come before you <strong>within the next 12 months!</strong></span>
                <img class="alignright" src="/static/images/11-lauvuel.jpg" width="230" height="433">
                <span>Before I tell you about the future that the angels are setting up for you, and the events that might turn your life around, there are a few important facts you should be aware of, for your future:</span>
                <span>&nbsp;</span>
                <h5>Important fact #1</h5>
                <span>The angels have inspired me since I was a little child. The angels also entrusted me with a fantastic tool for celestial divination:</span>
                <span><strong>It’s my </strong><a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">angelic tarot deck</a>. It was dictated by the celestial world, and it never fails! Year after year, I had many occasions to see how precise their divinatory might is.</span>
                <span>Why? Because the mystical arcana from <strong>my angelic tarot deck allow me to directly communicate with the 72 major angels</strong> – including {{ guardian_angel }} your guardian angel – that rule over the celestial world!</span>
                <span>&nbsp;</span>
                <h5>Important fact #2</h5>
                <span><strong>The angels have heard your renewed requests</strong>. Because regardless of what you might think, angels are listening to you. Especially your guardian angel. Today, if the choice of the angels fell upon you, it means that <strong>they think that your trials have lasted long enough</strong>.</span>
                <span>It is time for justice from Above to finally grant you all the <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">opportunities to turn your life around</a>.</span>
                <span><i>Why today? I will explain later below…</i></span>
                <span>Furthermore, {{ account.first_name }}, your guardian angel has lifted the veil that obscured your life for me… And then I discover someone worthy and admirable. A person with a pure soul, with great courage, and a heart full of love. Yes, it is true that you are in a tough spot. But <strong>from now on, it should be better.</strong></span>
                <span><i>You will see how in a little while…</i></span>
                <span>&nbsp;</span>
                <h5>Important fact #3</h5>
                <span>Today <strong>you are entering a very specific cycle</strong>.</span>
                <span>This cycle is called “<strong>The Cycle of Active Faith</strong>”. Let’s be clear, when I speak about “active faith”, I don’t mean religion. I mean “spiritual force”, and “self-confidence”. The strength to believe that you can take back control of your life and change things.</span>
                <span>Yes {{ account.first_name }}, if you are “the choice of the angels” today, it is because they want to give you the power to move mountains!</span>
                <span>This tremendous power <strong>can allow you to overcome any obstacle on your path</strong>… But you will also have a chance to get the huge and fantastic success you have been craving for so many years!</span>
                <span>&nbsp;</span>
                <h4>The powers of the “Cycle of Active Faith”</h4>
                <span>The Secret of “active faith” mainly lies in <b>mental visualization</b>. Here is some advice worth its weight in gold:</span>
                <span>Think about your greatest wish every night before falling asleep. Imagine that it has just come true. You won the jackpot. You found love at first sight. What are you feeling at that specific moment?</span>
                <span>This is the time to channel all your emotions into the vision of your fulfilled desire and… <b>“miracles” will happen in your life!</b> This is the secret of active faith. It’s not that hard, and a 7-year-old child could do it.</span>
                <span>And don’t forget that you have the secret word and the mystical prayer of your angel to help you with this cycle of Power. You have a chance to start receiving this celestial help starting today. This is why I’m telling you, “Hold on, it gets better”!</span>
                <span>You see, when your angel unveiled your life to me, it made me sad… Why? Did you lose your hope for a better life? If you did, then I am really sorry for you. Why am I telling you this? Well, it is very simple:</span>
                <span><b>The angels have let me catch a glimpse of your future.</b> On the one hand, there is your life, where you are not fully satisfied. And on the other hand, there is a future full of love and of the wealth you secretly crave. And you get to choose which side of that fence you want your life to fall in.</span>
                <span>You know, in my many years of experience, I have helped people who were beyond despair. I received hundreds of letters and emails that attest to the happiness they found through my divination gifts and through my bond with the Angels: <b>Gambling gains, important meetings, love, success,</b> trials won, and so much more…</span>
                <span>&nbsp;</span>
                <h4>A Future to match your Secret Desires with all the Money and Love you need</h4>
                <span>Absolutely {{ account.first_name }}, thanks to my angelic tarot I “saved” the future of thousands of people, ever since I was a child. This is precisely what I intend to do for you through the “<a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>”.</span>
                <span>To be honest, <strong>the angels protecting you are those who asked me to perform this great 12-card reading on your behalf</strong>, because the angels are willing <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">to unveil your future for the next 12 months</a>. One card for each month.</span>
                <span><img class="alignleft" src="/static/images/46-ariel.jpg" width="230" height="433">You have read it before, the angels directly inspired my angelic tarot deck. So here’s what’s happening during this great reading.</span>
                <span>First, I withdraw to my work cabinet. I call this place “my temple”. Then I set up the incense and celestial candles. And then, after several minutes of meditation, I make contact with the world of the angels. From that point on, angels are guiding me as I pick the cards for you!</span>
                <span>Indeed, <b>each of the cards has a mystical force that connects it to an Angel</b>. That angel then talks to me, about you and your future. I simply need to write down what the angels dictate. You could say that it is a genuine direct “line” to the world Above.</span>
                <span>But there is more…</span>
                <span>Each card I select for you will bring you the power and might of the angel it is connected to! <strong>This is more than just a great reading, this is an opportunity for me to write the book of your life and triumphs</strong> and send it to you as soon as I have your agreement.</span>
                <span>If you act now, I can communicate with the angels as soon as possible, and so you will receive their revelations in record time. And most of all, don’t forget what I said early on in this message: <strong>The angels want you to get a wealthier and happier life full of love, money, and overflowing success</strong>. And you know that the angels always speak the truth!</span>
                <span>&nbsp;</span>
                <div class="sales-cta">
                    <h4>Ask for Your</h4>
                    <div class="sales-cta-box">
                        <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>
                    </div>
                </div>
                <span>&nbsp;</span>
                <span><b>Last minute:</b></span>
                <span>Now let me show you that <strong>you too can get all the things you have been craving</strong> for so long. Three weeks ago, an angel came to tell me all about Joan, 37. I contacted her just like I am contacting you today. I received an email from Joan yesterday. I have her authorization to print her message in full: &nbsp;</span>
                <span class="quote"><em>Hello Elysia,<br>
                    First, I must tell you that I am a skeptic, and even a very hard one. To be honest, I never thought I would reply to somebody claiming to be able to help me thanks to her gifts and to the angels. But, well, tragedy struck me hard one day.<br>
                    My mortgage application had just been accepted when I lost my job to the state of the Economy. No more savings, no more work. Welfare was far from enough to cover my expenses, so it was a slow descent into hell.<br>
                    A few months later, I did not know what to do or who to trust. This is the kind of situation where you can count your true friends on the fingers of one hand. It is hard to have to say no to your children, to deprive yourself of every single thing.<br>
                    I was just like a bug caught on a spider’s web. Bills would keep piling up. I was at my lowest point when I received an email from you. Usually I just throw it away, but this time it was different. I could sense a little voice within me, urging me to reply. Now I know that it was my angel, whispering these words into my mind.<br>
                    Today, this is what has happened in my life within three weeks. I never play, but I spent all the money I had left on a lottery ticket, and I won. Now I think I understand what you meant by active faith. My angel gave me the strength to believe that I would win, and I won! This unexpected windfall allowed me to pay all my debts and late mortgage payments.<br>
                    So what more can I say? Thanks to you, thanks to the angels, my problems are over. And just like you said, I also met a man, and it was love at first sight. My children love him, and he loves my children.<br>
                    So, as a way to thank you I wanted to testify all the good you have brought me. I pray with my angel every day for you to keep helping those who need it. Thanks a million, Elysia.</em></span>
                <span class="testimonial-by">Joanne</span>
                <span>{{ account.first_name }}, I have other similar testimonials, but the best proof will come from you. Yes, I am certain that you will also write to me about your joy and happiness within three weeks.</span>
                <span>Your fate is to finally know the ineffable gentleness of happiness and felicity. Forget all your trials, <strong>the golden future you’ve been hoping for is opening before you</strong>. To that end, you simply need to reply with a click on the following link:</span>
                <span>&nbsp;</span>
                <div class="sales-cta">
                    <h4>Ask for Your</h4>
                    <div class="sales-cta-box">
                        <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>
                    </div>
                </div>
                <span>&nbsp;</span>
                <span>Now the time has come for you to decide what you should do. This will be your first act of active faith. When they asked me to send this message to you, the angels have put you to the test. They want to know whether you really want to know a better life, or if you would rather keep drowning in your problems. Yes, it is a test. And to pass this test with flying colors, you just need to <a href="/product/angelical-tarot-drawing">send me a reply</a>. It’s as simple as that.</span>
                <span>{{ account.first_name }}, , what do you really want? A nice car, a big house, love, recognition, dreamlike holidays on the other side of the globe, a second house, a chance to spoil your loved ones? Anything is possible with the help of the celestial world and the <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">reading using the genuine Angelic Tarot Deck</a></span>
                <span>Oh, I almost forgot. Fortunately, an angel has reminded me about this important fact for your success:</span>
                <span>&nbsp;</span>
                <h5>Important fact #4</h5>
                <span><b>The Angels have inspired me with celestial music that can create the required conditions to perform prodigious feats!</b></span>
                <span>This is what you should understand when I speak about “prodigies”: a few random numbers that suddenly yield a fortune! Or meeting people that will transform your social and romantic life…</span>
                <span>In other words, there are so many opportunities to be happy brought by this music that I would take pages and pages to write. You just need to listen to this angelic music:</span>
                <ul>
                    <li>To calm down and feel more relaxed.</li>
                    <li>To remember your prophetic dreams with the angels.</li>
                    <li>To have more confidence.</li>
                    <li>And most of all you will have a chance to get closer to your angel and build the success you deserve!</li>
                </ul>
                <span>{{ account.first_name }}, I will immediately send you this wonderful gift, and right away you will feel more in harmony and perfect connection with spiritual forces!</span>
                <span>&nbsp;</span>
                <div class="sales-cta">
                    <h4>Ask for Your</h4>
                    <div class="sales-cta-box">
                        <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>
                    </div>
                </div>
                <span>&nbsp;</span>
                <span>{{ account.first_name }}, you just need to click this link to receive this wonderful gift. And most of all, stay strong, because the angels and I are now by your side, to help you lead the kind of life you want.</span>
                <span>I should not say it, but I have already drawn a card for you. It made me really happy, because it was the arcanum connected to the archangel Gabriel. When I flipped this card, I had a vision about the amount of $28,645!</span>
                <span>As a matter of fact, I am 100% sure that your <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a> is the way to get you out of the tough situation you are currently in. So, I expect your reply within the next few minutes.</span>
                <span>&nbsp;</span>
                <div class="sales-cta">
                    <h4>Ask for Your</h4>
                    <div class="sales-cta-box">
                        <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>
                    </div>
                </div>
                <span>&nbsp;</span>
                <span>I'm watching over you,</span>
                <span class="sales-signature">Elysia</span>
            </div>
            <div class="ps-box">
                <h4>P.S.:</h4>
                <span>This email must stay a secret between us and the world of the angels. Do not tell anyone else about it, for it might disturb the action of the forces above! If anyone did not truly want you to be happy, it would ruin your chances to be successful. With the help of the angels, you will be able to escape the clutches of jealousy and finally make your dreams come true… And you will finally have justice.</span>
            </div>
        </div>
        <div class="cell large-3">
            <div class="sidebar-cta">
                <div class="sidebar-cta-content">
                    <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">
                        <div class="sidebar-cta-image">
                            <img src="/static/images/cta1-1.jpg">
                        </div>
                        <div class="sidebar-cta-text">
                            <div class="sidebar-cta-feather">
                                <img src="/static/images/wing.png">
                            </div>
                            <span class="sidebar-cta-subtitle">Ask for Your </span>
                            <span class="sidebar-cta-product">Great 12-month Angelic Tarot Reading</span>
                            <div class="sidebar-cta-button">
                                <span class="btnRound btnRound--arrow"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="stickycard">
            <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">
                <span>Ask for your</span>
                <span><strong>GREAT 12-MONTH ANGELIC TAROT<br>READING</strong></span>
            </a>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            $(window).scroll(function() {
                var scrollTop = $(window).scrollTop();
                var contentTop = $(".sales-content").offset().top;
                if (scrollTop > contentTop) {
                    $(".stickycard").addClass("stickit");
                } else {
                    $(".stickycard").removeClass("stickit");
                }
            });
        });
    </script>
{% endblock %}