{% extends "sales_pages/base-sales.html" %}
{% load static %}
{% block title %}Your Free Angel Consultation{% endblock %}
{% block content %}
    <div class="grid-x">
        <div class="cell large-9">
            <div class="sales-content">
                <h1 class="sales-title">“<b>Wealth, Love, Luck, Success!</b> The angels can guide you over the next 12 months…”</h1>
                <span>{{ account.first_name }},</span>
                <span>One thing is certain… You chose THE right moment to come into contact with your guardian angel!</span>
                <span>As I told you, in case you did not receive my last email, I invite you to read (maybe once again) all the beautiful things your guardian angel wanted to tell you about what your future holds (cf. your angelic reading below):</span>
                <span>&nbsp;</span>
                <span><b>The striking elements of your personality</b></span>
                <span>What a great aura! Anyone can tell that you have a striking personality {{ account.first_name }}. Even when you don’t say much, it is easy for people to follow you, because you exude trustworthiness.</span>
                <span>Your temperament radiates energy and good mood. You spread your positive vibrations to everyone around you. This is great, because you need to feel the admiration and love of others gravitating toward you.</span>
                <span>Your greatest source of fulfillment comes from your family. Nothing can stop you when you have decided to be kind to your loved ones.</span>
                <span>You have a cautious and discreet nature, and it enhances your modesty. Coupled with your great sensitivity, the result is that you often give more than you receive. Don’t you feel that some ill-intentioned people are abusing your kindness?</span>
                <span>You deserve to be happy.</span>
                <span>{{ account.first_name }}, your angel – who knows you quite well – tells me that great things await you.</span>
                <span><b>What you can expect in your near future</b></span>
                <span>{{ account.first_name }}, today you are standing at the crossroads of your life, and you were right to ask me to contact your guardian angel. You are entering a new cycle that should allow you to start over from more solid foundations.</span>
                <span>However, this will trigger a zone of turbulences that you will start noticing quite clearly from now on in your everyday life. Don’t panic, even if your situation seems hard today; these are just the negative energies that have ruled over your life so far that bump into the more positive energies of the new cycle.</span>
                <span>Everything should get better by making the right decisions!</span>
                <span>After this wonderful contact with your guardian angel, I can now confirm that the next few weeks should allow you to leave many of your current problems behind. There is a great potential for luck, happiness, love, and success on your path in the near future.</span>
                <span>We will speak of what you should do to seize these opportunities below. The fact that this brand new period of your life is starting right when you have decided to contact me is a clear manifestation of Divine Providence.</span>
                <span>Let’s focus on the areas you are most interested in: love, luck and money.</span>
                <span><b>LOVE – RELATIONSHIPS – SOCIAL LIFE</b></span>
                <span>Your angel tells me that several sentimental issues are about to find a happy solution. Your love life is getting out of a “rough” patch, or at the very least harder than usual. Your angel can feel many questions these days. You are calling many things into question.</span>
                <span>You have read it above. Your love life is a very important part of your existence. You need love and recognition more than anyone else, like a flower needs the sun and water. This comes from problems and troubles in your childhood. A lack of attention. It is quite obvious that you are now transferring a lot of these “blocks” onto your current emotional and sentimental situation.</span>
                <span>I can feel a lot of sadness. Heartache and the loss of someone who was dear to you, and finally a great disappointment about someone you used to admire. All this triggered yet additional psychological “blocks”, resulting in bitterness and wariness of commitment.</span>
                <span>In order to serenely move on in your social and sentimental life, you need to leave the past behind and be free of the melancholy that I can feel. It is high time you set your eyes on your future. Your angel and I are here to help you to walk on the path to the success you hope and deserve, because you are worth it.</span>
                <span>Throughout my contact with your angel, I could feel mighty positive energies at work. These energies hint at a happy unfolding of your sentimental situation over the next few weeks. I can most definitely feel a “sentimental” renewal, and it seems that you really need it.</span>
                <span>Your angel even tells me about a “birth”. The word “birth” could have several meanings here. It might be the birth of a new friendship, or love, or a new “social” project with your friends, or even the birth of a child. The forces of creation are at work.</span>
                <span>The next few weeks will allow you to socially reconnect with your friends, but also to meet new people. These new relationships are important for they are based on common values or shared affinities.</span>
                <span>Some of the people you meet might even before more than just friends. The potential of a meeting that might act as a catalyst is very strong.</span>
                <span>However, you should take care not to step away from your personal projects, and to measure all the consequences before you make any impulse decision. Once again, we are talking about potential. Do not forget that you own a genuine treasure within yourself: your intuition.</span>
                <span>{{ account.first_name }}, you also have a lot of “existential” question about your own place within your household, your family, and your social circle. Once again, you will have to make genuine personal decision that might eventually create some tensions. Nothing serious, but you need to carefully weigh the pros and cons.</span>
                <span>More generally, you should try to balance your own emotions. In the past, your emotional nature has been the source of a lot of inconvenience. You need to learn how to control your emotions and not fly off the handle. With a proper guide, you should be able to take things into consideration and find the right balance between excessive sentimentalism and a “heart of stone”.</span>
                <span>Nowadays, you can move from great exaltation to the utmost apathy. You will need to keep a cool head at all times, most notably when your feelings are concerned.</span>
                <span>Before we move on to the theme of luck and money, I need to tell you about another aspect mentioned by your angel: sensuality. This is a very delicate and private topic. Between friends, we can lower our modesty and openly speak about some “intimate” thoughts. {{ account.first_name }}, I have clearly felt a great need of sensuality within you. A few days from now, when you enter the new cycle of your life, you will have a chance to satisfy that most legitimate urge. You will have a chance to express and manifest the sensuality that lies dormant within you…</span>
                <span><b>LUCK</b></span>
                <span>You are not suffering from any luck deficiency per se. I would rather describe it as a hard time noticing and seizing lucky opportunities when they come within reach.</span>
                <span>If your problem to “see” luck for what it is has been a source of problems for you, this new cycle will bring you hope with a high likelihood of dealing with it. Urged by your guardian angel, I have already begun a spiritual work in that regard and your “sight for luck” should very clearly be improved over the next few weeks.</span>
                <span>Indeed, there is always a lot of luck on “stand-by” in your life. Let me tell you a secret. Luck has always been there in your life, but your poor sight for luck has prevented you from making the most of it. Read this message in full. We have a way to change that.</span>
                <span>There are several “burning” dates of luck written on your life path, most notably regarding gambling luck.</span>
                <span>Your angel is even telling me about a very big stroke of luck. Jackpot? Donation? I need to look into it. Regardless, this could solve all your financial troubles in one strike.</span>
                <span><b>MONEY</b></span>
                <span>{{ account.first_name }}, your financial situation is not particularly thriving, or at the very least it could be much better. Better days are coming, and I can assure you that your finances will greatly improve.</span>
                <span>However, I must tell you that your current financial situation is the result of past decisions, and of a certain state of mind that blocks the arrival of money in your life.</span>
                <span>{{ account.first_name }}, it must me said that many of your financial decisions have had dire consequences because you are not a “money” person, deep inside. Your values are focused on other things, and I have to give you credit for that!</span>
                <span>But now, you nonetheless need to face some harsh truths: I asked your angel which energies would affect your finances over the next few weeks, and he confirmed that they were positive energies.</span>
                <span>The problem lies elsewhere, though. Everything comes from a subconscious level, as it often does. I wanted to know more, so I connected to you. Once I managed to make contact, I could identify certain forces that we need to discuss as soon as possible.</span>
                <span>{{ account.first_name }}, I could feel certain blocking areas, and I already undertook some action against them. I told you that I wanted to help. From now on, you can consider yourself under my “protection”. This is the reason why I performed this action of liberation without wasting any time. I wanted to show you that I am your friend, and that I am particularly concerned about your happiness.</span>
                <span>What are these blocking areas? As I said, they come from your subconscious mind, and this is why you cannot do anything about it without assistance. You do not know what caused them. Once thing is certain, you absolutely must get rid of them if you want to seize all the opportunities that have been forecast in your new life cycle.</span>
                <span>I can already hear you!</span>
                <span>“Will it take long? What should I do?” Don’t worry, your angel is very optimistic. We can act quickly. Just read the next few lines. These are the words he left me with when our contact ended:</span>
                <span>"My brothers and I have foreseen great things brewing for {{ account.first_name }}. Destiny becomes clearer and clearer: a loving family, some close friends, a nice amount of money that will make life a little bit brighter. These are all the things we wish for {{ account.first_name }} and we are counting on you, Elysia, to help us make them come true. You absolutely need to use the arcana of your Angelic Tarot to help put {{ account.first_name }} on the right path. We will guide you as you read the cards, because {{ account.first_name }}'s fate is particularly dear to us, like any pure and good person deserves to know the destiny that has been set aside for them. We beseech you to collect {{ account.first_name }}'s wishes and share them with us as soon as possible."</span>
                <span>&nbsp;</span>
                <span>You see, {{ account.first_name }}… As you have just read, significant positive transformations are in the works as far as your near future – and most particularly the next 12 months – are concerned. Find out more and see what your protective guardian angel advises you to do,  {{ guardian_angel }} , to grab hold of all these opportunities. It is all very clear…</span>
                <span>&nbsp;</span>
                <h4>LUCK, MONEY, HAPPINESS. My Angelic Tarot is ready to answer you…</h4>
                <span>&nbsp;</span>
                <span>You know {{ account.first_name }}, using my <b>angelic tarot deck</b> I already “unveiled” the future for thousands of people since my childhood. And this is precisely what I am willing to do once more on your behalf by making your “<a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>”.</span>
                <span>To tell you the truth, the angels – and {{ guardian_angel }} your guardian angel among them – have asked me to <b>perform this great 12-card reading for you</b>. Because the angels want to unveil your future for the next 12 month. A card for each month. And there is a reason for it. Believe me, I never dwell on anything unless it’s important.</span>
                <span>{{ account.first_name }}, you have most likely noticed that many people were successful in every way. That these people are extremely lucky. Even better, they control their own life. Nothing unfortunate ever happens to them… They seize every good opportunity! It is as if these people were under some kind of protection…</span>
                <span>This is not an accident, {{ account.first_name }}. It is a secret that can be traced back to the dawn of time: <b>listening to the angels when they have something to say!</b> Especially when they want to make you happy and bring you your heart’s desire!</span>
                <span>{{ account.first_name }}, you are among those who, one day, have <b>the opportunity to change their lifestyle effortlessly</b>. I could feel it since the first time you wrote. There are not many people with such an opportunity, who will receive a message like this one. Why?</span>
                <span>Because the angels actually decide who must be helped… And as a matter of fact, today that person is you {{ account.first_name }}!</span>
                <span>&nbsp;</span>
                <div class="sales-cta">
                    <h4>Ask for Your</h4>
                    <div class="sales-cta-box">
                        <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>
                    </div>
                </div>
                <span>Now <b>you must decide what you must do.</b> As I said in a previous message, this is a token of trust. I call it an act of active faith. When they asked me to send you this message, the angels put you to the test. They want to see if you really want to live a better life, or if you would rather keep your problems endlessly…</span>
                <span><b>Yes, it’s a test</b>. And to succeed in that test with flying colors, <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">you just need to send me your reply</a>. It’s as simple as that!</span>
                <span>So let me ask you once again {{ account.first_name }}, what do you want? A nice car, a big house, some love or recognition, dream-like holidays, the ability to spoil all your loved ones, or simply to stop being afraid of tomorrow?</span>
                <span>Anything is possible with the help of the angels and the “<a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>” I am about to perform for you.</span>
                <span>This is what you should understand when I speak about prodigies: a few random numbers that suddenly yield a fortune! Or meeting people that will transform your social and romantic life…</span>
                <span>In other words, there are countless opportunities to be happy brought by this music. I cannot say more, but you should know that this music has led many people to tremendous success in various domains. This is why what I am offering you today is such a precious, or even priceless opportunity!</span>
                <span>You must make a decision now by asking yourself <b>the right questions</b>:</span>
                <ul>
                    <li>Do you want to be wealthy?</li>
                    <li>Do you want to be deeply satisfied, personally?</li>
                    <li>Do you want to live under the protection of your guardian angel?</li>
                </ul>
                <span>If you answered <b>YES</b> to a single question at least, then there is no reason to refuse. All the more since there are no risks involved, and you might end up happy and fulfilled with all the love and money you want.</span>
                <span>So, {{ account.first_name }}, don’t waste any time and reply IMMEDIATELY. Ask right away for your “<a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>”!</span>
                <span>&nbsp;</span>
                <span>See you soon,</span>
                <span class="sales-signature">Elysia</span>
            </div>
            <div class="ps-box">
                <h4>P.S.:</h4>
                <span>{{ account.first_name }}, you have a spectacular destiny… You will really make people jealous, so <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">reply IMMEDIATELY!</a></span>
            </div>
        </div>
        <div class="cell large-3">
            <div class="sidebar-cta">
                <div class="sidebar-cta-content">
                    <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">
                        <div class="sidebar-cta-image">
                            <img src="/static/images/cta1-1.jpg">
                        </div>
                        <div class="sidebar-cta-text">
                            <div class="sidebar-cta-feather">
                                <img src="/static/images/wing.png">
                            </div>
                            <span class="sidebar-cta-subtitle">Ask for Your </span>
                            <span class="sidebar-cta-product">Great 12-month Angelic Tarot Reading</span>
                            <div class="sidebar-cta-button">
                                <span class="btnRound btnRound--arrow"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="stickycard">
            <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">
                <span>Ask for your</span>
                <span><strong>GREAT 12-MONTH ANGELIC TAROT<br>READING</strong></span>
            </a>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            $(window).scroll(function() {
                var scrollTop = $(window).scrollTop();
                var contentTop = $(".sales-content").offset().top;
                if (scrollTop > contentTop) {
                    $(".stickycard").addClass("stickit");
                } else {
                    $(".stickycard").removeClass("stickit");
                }
            });
        });
    </script>
{% endblock %}