{% extends "sales_pages/base-sales.html" %}
{% load static %}
{% block title %}Your Free Angel Consultation{% endblock %}
{% block content %}
    <div class="grid-x">
        <div class="cell large-9">
            <div class="sales-content">
                <h1 class="sales-title"><b>“12 months, 12 angels, 12 powers at your service!</b> You only need to speak one word to make your dreams come true…”</h1>
                <span>{{ account.first_name }},</span>
                <span>I just told you that I make contact with the angelic world during this exceptional reading. The angels are guiding me as I select the cards on your behalf!</span>
                <span>Each card is imbued with <b>mystical and magical force that connects it to an Angel</b>. This angel then tells me about <b>you and your future</b>. I then simply write down what the angels dictate. You could say that it is a straight “line” to the world Above.</span>
                <span>But there is more…</span>
                <span><b>Each card I will choose on your behalf will grant you the might and power of the angel it is bound to!</b> More than just a great reading, I will have a chance to write down the book of your life and triumph and send it to you as soon as you have given me <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">your agreement</a> to do so.</span>
                <span>If you act now, I can communicate with the angels very soon. And so, you will receive their revelations in record time.</span>
                <span>It is time for you to enjoy a sweeter and most soothing life now. You have almost made it {{ account.first_name }}, you don’t have much more to do to reach that goal.</span>
                <span>First, you need to acknowledge that you are more fortunate than other people, because I am here for you. Furthermore, <b>I bring you the SOLUTION</b> to see more clearly through the next few months!</span>
                <span>You know {{ account.first_name }}, what I am about to do for you today is a first step toward the brand new life you have been waiting for so long. You are about to experience intense moments of happiness, I am sure of it. It must be, because you are truly a wonderful person.</span>
                <span>Do you think that you would be entitled to <b>all that providential help</b> if you did not deserve it?</span>
                <span>Do you think that I would be so committed to you if it weren’t to help you <b>open the doors of luck</b> that were kept close for you until now?</span>
                <span>I don’t know whether you realize it. You have my personal support, but most of all you have the celestial support of the angels with you.</span>
                <span>Do not make the mistake of giving up, because I can assure you that <b>happiness stands just around the corner!</b> I am positive, and the testimonials I receive every day confirm that I am right to think so.</span>
                <span>This is <b>your once in a lifetime opportunity</b>. So seize it, and accept that I perform your “<a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>”!</span>
                <span>{{ account.first_name }}, I am telling you about luck and your angel today because I can clearly feel that you are in a difficult situation right now. And I know that I can restore the luck you are hoping for. The luck that seemingly has turned away from you.</span>
                <span>And yet that luck is still standing here. It is ready to express itself in your life every single day. <b>How many opportunities have you missed out these past few months?</b> In truth, your obstacles come from your fear, anxiety, and your doubts about the future.</span>
                <span>If I can believe the first card I have drawn for you, the archangel {{ guardian_angel }}, <b>the next few months should be promising</b>. I can see luck want to express itself on a financial level, but also in your relationships with other people…</span>
                <span>Imagine all the possibilities before you if you could only know what to do to solve this situation.</span>
                <span>And you will know what to do when you read the messages from the angels in your “<a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>”! What a delight to <b>discover which angels will stand by your side for the next 12 months.</b></span>
                <span>The Angels have inspired it to me so that you might <b>benefit from genuine prodigies!</b></span>
                <span>Yes, I said “prodigies”: a few random numbers that suddenly yield a fortune! Or meeting people that will transform your social and romantic life…</span>
                <span>These possibilities are genuine. I insist because it is important that you don’t let this chance slip through your fingers like you did these past few months. Believe me, I know many people who would blindly seize that opportunity!</span>
                <span>&nbsp;</span>
                <div class="sales-cta">
                    <h4>Ask for Your</h4>
                    <div class="sales-cta-box">
                        <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>
                    </div>
                </div>
                <span>I can understand your need to think it over {{ account.first_name }}: happiness, easy living, money, jealous looks, these are big changes in your life. But will you risk turning your back on them? Will you risk having to regret it?</span>
                <span>I don't think so.</span>
                <span>So don’t waste any time, {{ account.first_name }}, and reply NOW. Ask me right away to perform your “<a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>”.</span>
                <span>See you soon,</span>
                <span class="sales-signature">Elysia</span>
            </div>
            <div class="ps-box">
                <h4>P.S.:</h4>
                <span>{{ account.first_name }}, I would be sorry if you did not seize that opportunity in time. This is why I want to stress that there are no risks involved when you reply: FAR FROM IT, I WILL HELP YOU!</span>
            </div>
        </div>
        <div class="cell large-3">
            <div class="sidebar-cta">
                <div class="sidebar-cta-content">
                    <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">
                        <div class="sidebar-cta-image">
                            <img src="/static/images/cta1-1.jpg">
                        </div>
                        <div class="sidebar-cta-text">
                            <div class="sidebar-cta-feather">
                                <img src="/static/images/wing.png">
                            </div>
                            <span class="sidebar-cta-subtitle">Ask for Your </span>
                            <span class="sidebar-cta-product">Great 12-month Angelic Tarot Reading</span>
                            <div class="sidebar-cta-button">
                                <span class="btnRound btnRound--arrow"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="stickycard">
            <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">
                <span>Ask for your</span>
                <span><strong>GREAT 12-MONTH ANGELIC TAROT<br>READING</strong></span>
            </a>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            $(window).scroll(function() {
                var scrollTop = $(window).scrollTop();
                var contentTop = $(".sales-content").offset().top;
                if (scrollTop > contentTop) {
                    $(".stickycard").addClass("stickit");
                } else {
                    $(".stickycard").removeClass("stickit");
                }
            });
        });
    </script>
{% endblock %}