{% extends "sales_pages/base-sales.html" %}
{% load static %}
{% block title %}Your Free Angel Consultation{% endblock %}
{% block content %}
    <div class="grid-x">
        <div class="cell large-9">
            <div class="sales-content">
                <h1 class="sales-title">“Discover why your guardian angel wants to help you… and above all, why <b>you have to accept his help!</b>”</h1>
                <span>{{ account.first_name }},</span>
                <span>I have been offering happiness to those who have lost all hope, for years. I bring love, luck, and money to anyone who asks. But I can’t take the credit… because angels are speaking to me, and acting through me.</span>
                <span>Today, with your “<a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>”, <b>your guardian angel truly wants to help you… and so do I.</b></span>
                <span><i>Why?</i></span>
                <span>It’s easy, <b>I’ve taken a liking to you.</b> I was touched by the endearing personality I discovered when I made contact with you.</span>
                <span>Yes, you might have felt it, but I managed to make telepathic contact with you a few times these past few days. Using my powers and the powers of the angels, I know a little bit more about you now.</span>
                <span>{{ account.first_name }}, I discovered <b>someone with a big heart.</b> A generous person who knows when to show compassion. So if your angel is worried about your happiness, if we are communicating today, it is not an accident.</span>
                <span>You are very sensitive to emotions, and anything might take you over the edge. You cannot bear violence in any shape or form, and you lament everything bad that happens on earth.</span>
                <span>If everyone were like you, I am sure that the world would be a better place. You have never truly harmed anyone in your life, and you always managed to help people around. Sometimes you even had to sacrifice yourself for others. This gentle and generous nature deeply moved me and led your guardian angel to contact me. You need to know that, for your evolution.</span>
                <span>{{ account.first_name }}, I want to build our relationship on solid ground, with trust and transparency, so I must tell you everything and not keep anything out. You can count on me, as a true friend.</span>
                <span>This is why I must also unveil what has very clearly appeared before me last time I made contact with you.</span>
                <span>&nbsp;</span>
                <span><b>I have discovered what is blocking you</b></span>
                <span>Yes {{ account.first_name }}, it seems that there is <b>a lot of negative energy</b> around your aura. This is why you cannot feel the positive presence of your guardian angel.</span>
                <span>And yet, let me tell you that <b>sending me your reply would be enough to keep these harmful energies away from you for the rest of your life.</b></span>
                <span><i>How?</i></span>
                <span>Thanks to the celestial power inscribed in my angelic tarot deck!</span>
                <span>{{ account.first_name }}, I made a connection with your mind again early this morning. You know that doubts have brought you nothing but troubles so far. Doubts about every single sing. About you, about the opportunities to be happy that stand right before you. But you cannot see them. So let me remove the dark veil preventing you from seeing all your opportunities to be successful and happy.</span>
                <span>You know that I feel close to you, so I managed to sense many things about you. You are drawn to spirituality, you have many questions, and I know that <b>I can help you.</b></span>
                <span>The Angels have entrusted me with a mission: to release the celestial power of the angelic tarot into your life, and to perform your “<a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>”.</span>
                <span>Heaven is ordering me to help you, and this is what I am doing. So, in return,</span>
                <span style="display: block; text-align: center"><a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Now is the time for you to let celestial protection and luck enter your life!!</a></span>
                <span>I don’t want to force you to accept my help, you know. I merely wish to see you lead the life you want to live, just like Phil now, a friend who accepted my help a few months ago.</span>
                <span>Here is a single excerpt from the message he sent me a few days ago.</span>
                <span class="quote"><em>Angela (…) I’ve always been interested in anything related to the occult, but I don’t have your gift! When you wrote to me after you read the tarot for me, and when I saw the private message that was meant for me, it took my breath away! I had never seen such precise and insightful revelations! I took great care to follow my angel’s advice to the letter, and today I thank you because it worked!! I could make my dream of being a homeowner come true. I can finally do what I always wanted to do… So much happiness! My only regret is that I haven’t met you sooner…</em></span>
                <span class="testimonial-by">Phil R.</span>
                <span>Today, you are the one I want to help {{ account.first_name }}. If you want to <b>get rid of the blocks that prevent you from making your dreams come true</b>, the time has come.</span>
                <span>I am further willing to grant you another favor: an additional discount on the usual amount paid for such a large-scale work. Everything is specified on the <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Priority Agreement</a> I have prepared here for you.</span>
                <span>You know {{ account.first_name }}, I “shed some light” on the future of thousands of people with my angelic tarot. This is exactly what I want to do for you in your “<a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">Great 12-month Angelic Tarot Reading</a>”!</span>
                <span>&nbsp;</span>
                <div class="sales-cta">
                    <h4>Priority agreement to receive</h4>
                    <div class="sales-cta-box">
                        <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">YOUR GREAT ANGELIC TAROT READING</a>
                    </div>
                </div>
                <span>So, {{ account.first_name }}, don’t waste any time and reply IMMEDIATELY.</span>
                <span>See you soon,</span>
                <span class="sales-signature">Elysia</span>
            </div>
        </div>
        <div class="cell large-3">
            <div class="sidebar-cta">
                <div class="sidebar-cta-content">
                    <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">
                        <div class="sidebar-cta-image">
                            <img src="/static/images/cta1-1.jpg">
                        </div>
                        <div class="sidebar-cta-text">
                            <div class="sidebar-cta-feather">
                                <img src="/static/images/wing.png">
                            </div>
                            <span class="sidebar-cta-subtitle">Ask for Your </span>
                            <span class="sidebar-cta-product">Great 12-month Angelic Tarot Reading</span>
                            <div class="sidebar-cta-button">
                                <span class="btnRound btnRound--arrow"></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="stickycard">
            <a href="/product/question-checkout/?uid={{ account.id }}&ds={{ ds }}">
                <span>Ask for your</span>
                <span><strong>YOUR GREAT ANGELIC TAROT<br>READING</strong></span>
            </a>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            $(window).scroll(function() {
                var scrollTop = $(window).scrollTop();
                var contentTop = $(".sales-content").offset().top;
                if (scrollTop > contentTop) {
                    $(".stickycard").addClass("stickit");
                } else {
                    $(".stickycard").removeClass("stickit");
                }
            });
        });
    </script>
{% endblock %}