{% extends "sales_pages/base-sales.html" %}
{% load static %}
{% block title %}Your Free Angel Consultation{% endblock %}
{% block content %}
    <div class="sales-content">
        <span>Thank you for your confidence, {{ account.first_name }},</span>
        <span>Just give me a bit of time to contact your spiritual guide and transcribe the message he has for you.</span>
        <span>Meanwhile, here is below the Secret Prayer I promised. This prayer and the instructions that come with it will be priceless to summon your guide whenever you feel the need.</span>
        <span>&nbsp;</span>
        <span>In the meantime, here is the <b>secret orison</b> I promised. This prayer and the instructions that come with it will be most useful to invoke your guide as soon as you feel the need to.</span>
        <span>&nbsp;</span>
        <span>Now, the time has come for me to get down to work on your behalf.</span>
        <span>I will get back in touch with you as soon as contact is made.</span>
        <span>&nbsp;</span>
        <span>See you soon,</span>
        <span class="sales-signature">Elysia</span>
        <span>&nbsp;</span>
        <span>I can already feel your presence very strongly. Your vibrations are excellent. This should be a great encounter.</span>
        <span>&nbsp;</span>
        <span>&nbsp;</span>
        <h1 class="sales-title">Your “Secret Orison”</h1>
        <h3 class="sales-subtitle">To contact your Spiritual Guide as often as you wish to</h3>
        <span>{{ account.first_name }},</span>
        <span>You are now about to discover the <b>Secret Orison</b> – a very special kind of prayer – as well as the <b>secret word</b> that comes with it.</span>
        <span>These words are a precious help to contact your protector guardian angel. Here is what you will do to turn them into the best guide in your life.</span>
        <span><b>Step 1:</b> Write down the 5 sentimental or material priorities you have set in your life on a small piece of paper. For example: 1 – Happiness in my family – 2 – Earning more money – …<br>Then roll up this little piece of paper and keep it rolled up using a rubber band.</span>
        <span><b>Step 2:</b> Do not touch that little paper roll for 3 days – keep it away from prying eyes and from the light.</span>
        <span><b>Step 3:</b> Take back your wishes paper on the 4th day. Then say the <b>secret summoning word</b>, which is none other than your angel’s celestial name, three times: {{ guardian_angel }}. <i>Don’t be afraid of mispronouncing his name, he will recognize himself.</i></span>
        <span>From then on, your angel will stand by your side. You can then unroll your wishes paper and read what it written out loud. Then it will be time to recite the following <b>secret Orison</b> out loud:</span>
        <div class="orison">
            <span>"I pray you, {{ guardian_angel }}, Guide me to the Destiny I am meant to know. Take the secret wishes in my heart And make them true for me. You are my guardian angel, The protector of my life and happiness. I am counting on you to make my Fortune, Relieve me of my doubts And sublimate my days."</span>
        </div>
        <span>&nbsp;</span>
        <span>The next times, if you want any situation to be favorable to you, write down your wish on a piece of paper and recite the secret Orison to your angel again while intensely focusing on your wish.</span>
        <span>You can do it at any time. Do not hesitate to contact him, do not feel embarrassed, because angels love it when you ask for their help. This is their celestial mission.</span>
        <span>Never forget the great worth of this Gift, {{ account.first_name }}. Angels are our allies. They are here to help us. Your Angel will know how to bring you the Luck you need on a daily basis.</span>
        <span>I am sure that I am writing to a fantastic person! You truly deserve all the happiness that has been forecast for you! Honestly…</span>
        <span>Remember that Heaven keeps in mind honest, good, and generous people like you.</span>
    </div>
{% endblock %}